body {
    background-color: #272727;
    font-family: 'Menlo', 'Monaco';
    color: #fff;
    font-size: 13px;
    padding: 0;
    margin: 0;
    width: 100%;
}

.console-entry {
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 2px solid #e3e3e3;
    margin-left: -8px;
    padding: 4px 4px 4px 10px;
    background-color: #1b1b1b;
}

input {
    width: 95%;
    background-color: #1b1b1b;
    color: #fff;
    border-width: 0;
    -webkit-appearance: none;
    font-family: 'Monaco';
}

input:focus {
    outline-width: 0;
}

#main {
    min-width: 600px;
    padding: 0;
    margin: 0 0 50px 0;
}

.top {
    background: blue;
    height: 40px;
    padding: 5px;
}

.border-bottom {
    border-bottom: 1px solid #fff;
}

.border-top {
    border-top: 1px solid #fff;
}

.border-left {
    border-left: 1px solid #fff;
}

.border-right {
    border-right: 1px solid #fff;
}

.row-p {
    padding: 5px 5px 5px 15px;

}

.red {
    color: #ff5959
}

.green {
    color: #31de41
}

.white {
    color: #ffffff;
}

.blue {
    color: #56d8f9;
}

.tasks-col {
    height: 100% !important;
}

/* flexbox styling */
.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  .header {
    height: 30px !important;
  }

  .content {
    display: flex;
    flex: 1;
    margin-top: 3px;
  }

  .columns {
    display: flex;
    flex:1;
  }

  .main-body {
    flex: 1;
    order: 2;
  }

  .sidebar-first {
    width: 30%;
    order: 1;
    border-right: 1px solid #b2b2b2;
  }

  .sidebar-second { 
    width: 20%;
    order: 3;
  }

  /* typography */
  .text-center {
      text-align: center;
  }

  :-webkit-any(article,aside,nav,section) h1 {
    font-size: 1.15em;
    -webkit-margin-before: 0.5em !important;
    -webkit-margin-after: 0.5em !important;
}

/* badges */
.badge-ui {
    background-color: #ff5959;
    color: #000;
    font-size: 9px;
    border-radius: 7px;
    padding: 2px;
    margin-right: 4px;
}

.badge-nui {
    background-color: #31de41;
    color: #000;
    font-size: 9px;
    border-radius: 7px;
    padding: 2px;
    margin-right: 4px;
}