body {
    background-color: #1b1b1b;
    font-family: 'Monaco';
    color: #fff;
    font-size: 12px;
    padding: 0;
    margin: 0;
    width: 100%;
}

.console-entry {
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 2px solid #e3e3e3;
    margin-left: -8px;
    padding: 4px 4px 4px 10px;
    background-color: #1b1b1b;
}

input {
    width: 95%;
    background-color: #1b1b1b;
    color: #fff;
    border-width: 0;
    -webkit-appearance: none;
    font-family: 'Monaco';
}

input:focus {
    outline-width: 0;
}

#main {
    min-width: 600px;
    padding: 0;
    margin: 0 0 50px 0;
}

.top {
    background: blue;
    height: 40px;
    padding: 5px;
}

.border-bottom {
    border-bottom: 2px solid #fff;
}

.border-top {
    border-top: 2px solid #fff;
}

.border-left {
    border-left: 2px solid #fff;
}

.border-right {
    border-right: 2px solid #fff;
}

.row-p {
    padding: 5px 5px 5px 15px;

}

.debt {
    color: #ff5959
}

.spending-good {
    color: #31de41
}

.budgeted {
    color: #ffffff;
}

.income {
    color: #56d8f9;
}

.tasks-col {
    height: 100% !important;
}