body {
    background-color: #272727;
    font-family: 'Menlo', 'Monaco';
    color: #fff;
    font-size: 13px;
    padding: 0;
    margin: 0;
    min-width: 700px;
}

input {
    width: 95%;
    background-color: #272727;
    color: #fff;
    border-width: 0;
    -webkit-appearance: none;
    font-family: 'Monaco';
}

input:focus {
    outline-width: 0;
}

.console-entry {
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 2px solid #e3e3e3;
    margin-left: -8px;
    padding: 4px 4px 4px 10px;
    background-color: #272727;
}


.border-right {
    border-right: 1px solid white;
}

/* FLEXBOX STYLING DASHBOARD*/
#header {
    border-bottom: 1px solid white;
    min-height: 20px;
    padding: 3px;
}
#sidebar {
    border-right: 1px solid white;
 }

html, body, #container {
    height: 100%;
}
#main {
    display: flex;
    height: calc(100% - 53px); 
}
#sidebar {
    overflow-y: auto;
    height: 100%;
    min-width: 300px;
    padding: 3px;
}
#content {
    height: 100%;
    width: 100%;
}
#list { 
    overflow-y: auto;
    height: 50%;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    padding: 3px;
}
#details {
    overflow-y: auto;
    height: 50%;
    padding: 3px;
}

/* FLEXBOX STYLING TASKS */
#quad-1 {
    overflow-y: auto;
    height: 50%;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    padding: 3px;
}

#quad-2 {
    overflow-y: auto;
    height: 50%;
    border-bottom: 1px solid white;
    padding: 3px;
}
#quad-3{
    overflow-y: auto;
    height: 50%;
    border-right: 1px solid white;
    padding: 3px;
}
#quad-4 {
    overflow-y: auto;
    height: 50%;
    padding: 3px;
}

/* SCROLLBAR STYLE CHROME */
::-webkit-scrollbar
{
  width: 6px;  /* for vertical scrollbars */
  height: 6px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb
{
  background: rgba(0, 0, 0, 0.5);
}

  /* typography */
.text-center {
    text-align: center;
}

.header-list-inline li{
    list-style-type: none;
    display: inline-block;
    float: none;
    padding-right: 20px;
    margin: 3px;
}

/* misc */
.no-margin {
    margin: 0 !important;
}

/* COLORS */
.red {
    color: #ff5959
}

.green {
    color: #31de41
}

.white {
    color: #ffffff;
}

.blue {
    color: #56d8f9;
}

.yellow {
    color: #ede547;
}

.rust {
    color: #a75000;
}

/* badges */
.badge-ui {
    background-color: #ff5959;
    color: #000;
    font-size: 9px;
    border-radius: 7px;
    padding: 2px;
    margin-right: 4px;
}

.badge-nui {
    background-color: #56d8f9;
    color: #000;
    font-size: 9px;
    border-radius: 7px;
    padding: 2px;
    margin-right: 4px;
}

.badge-uni {
    background-color: #ede547;
    color: #000;
    font-size: 9px;
    border-radius: 7px;
    padding: 2px;
    margin-right: 4px;
}

.badge-nuni {
    background-color: #a75000;
    color: #000;
    font-size: 9px;
    border-radius: 7px;
    padding: 2px;
    margin-right: 4px;
}